<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>반쪽</title>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="/static/css/commu_post.css" />
    <style>
      .checked {
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="tagBox">
      <div class="categoryTag"><%= result.postInfo.postCategory %></div>
      <div class="hashTag"><%= result.postInfo.postTag %></div>
    </div>
    <div class="postTitle"><%= result.postInfo.postTitle %></div>
    <div class="postInfoBox">
      <div class="infoBoxDiv1">
        <img
          src="<%= result.postInfo.postImg %>"
          alt="작성자 프로필 사진"
          class="postWriterImg"
        />
        <div class="postInfoDiv2">
          <div class="postWriter"><%= result.postInfo.userName %></div>
          <div class="postDate"><%= result.postInfo.postDate %></div>
        </div>
      </div>
      <div class="postViews">조회수 <%= result.postInfo.postViews %></div>
    </div>
    <hr />
    <div class="postDoc dp-none"><%= result.postInfo.postDoc %></div>
    <div class="postContent"></div>
    <div class="postLikesDiv">
      <div class="postLikesBox">
        <div class="postLikesHeart">♡</div>
        <% if (result.isUserSession) { %>
          <% if (result.userLikes == 1) { %>
            <div class="btn">
              <button onclick="likesOff()" class="likesBtn">❤하트 이미 누름!</button>
            </div>
          <% } else { %>
            <div class="btn">
              <button onclick="likesOn()" class="likesBtn">❤하트 안 누름!</button>
            </div>
          <% } %>
        <% } else { %>
          <div class="btn">
            <button class="likesBtn">❤하트 못 누름!</button>
          </div>
        <% } %>
        <div class="postLikes">♡<%= result.likes %></div>
      </div>
    </div>
    <hr />
    <div class="comment">
      <% if (result.isUserSession && result.userName === result.postInfo.userName) { %>
          <button>수정</button>
          <form action="/commu/posts/<%= result.postInfo.postId %>/delete" onsubmit="return confirm('삭제하시겠습니까?')" method="post">
            <button>삭제</button>
          </form>
      <% } else { %>
      <% } %>

<div class="commentsCount">댓글</div>
      <form name="commentForm" id="commentForm">
        <input
          type="textarea"
          id="commentInput"
          placeholder="댓글을 작성해 주세요"
        />
        <button
          type="button"
          id="commentBtn"
          onclick="commentPost(Number('<%= result.postInfo.postId %>'))"
        >
          등록
        </button>
      </form>
      <% if (result.commentData === null) { %>
        <div class="comments">
          <div class="commentInfoBox">
            <div class="commentInfoDiv1">
              <div class="commentWriter"></div>
              <div class="commentDate"></div>
            </div>
            <div class="commentInfoDiv2">
              <button type="button" class="commentEditBtn">수정</button>
              <button type="button" class="commentDeleteBtn">삭제</button>
            </div>
          </div>
          <div class="commentsContent">
          </div>
        </div>
        <% } else { %>
      <div class="comments">
        <% for (let i = 0; i < result.commentData.length; i++) { %>
        <div class="commentInfoBox">
          <div class="commentInfoDiv1">
            <div class="commentWriter"><%= result.commentData[i].userName %></div>
            <div class="commentDate"><%= result.commentData[i].commDate %></div>
          </div>
          <div class="commentInfoDiv2">
            <button type="button" class="commentEditBtn">수정</button>
            <button type="button" class="commentDeleteBtn">삭제</button>
          </div>
        <div class="commentsContent">
          <%= result.commentData[i].commDoc %>
        <% } %>
        </div>
      </div>
      <% } %>
    </div>
    
    <script src="/static/js/commu_post.js"></script>
  </body>
</html>