<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>반쪽</title>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <!-- CSS 연결 -->

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="postList">
      <% for (let i = 0; i < data.length; i++) { %>
        <div>글번호:<%= data[i].MarketId %></div>
        <div>작성자:<%= data[i].userName %></div>
        <div>작성일:<%= data[i].marketDate %></div>
        <div>조회수:<%= data[i].marketViews %></div>
          <div>게시글 제목:<%= data[i].marketTitle %></div>
        <div>이미지:<%= data[i].marketImg %></div>
          <div>게시글 내용:<%= data[i].marketDoc %></div>
            <div>카테고리:<%= data[i].marketCategory %></div>
            <% } %>
        </div>
      <script></script>
    </body>
  </html>
  