<style>
  /* body {
  display: flex;
  justify-items: center;
  align-items: center;
} */

.containerBox {
  display: flex;
  justify-content: center;
}

.img,
.id,
.userName,
.birth {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.name {
  text-align: center;
  margin-top: 10px;
  color: #ffeac7;
  font-weight: bold;
  margin-bottom: 10px;
}

.userImg {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 15px;

  display: flex;
  justify-content: center;
}

#imgBtn {
  width: 310px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: white;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgUpload {
  background-color: #ffeac7;
  width: 50px;
  padding: 5px;
  border-radius: 10px;
}

.idBox,
.userNameBox,
.birthBox {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

#userId,
#userName,
#userBirth {
  border: none;
  width: 90%;
  margin-right: 10px;
  padding: 5px;
}

#userBirth {
  text-align: center;
  margin: 0 auto;
}

#userBtn {
  border: none;
  background-color: #ffeac7;
  width: 100px;
  padding: 5px;
  border-radius: 10px;
}

.idCheck,
.nameCheck {
  font-size: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btnSignup {
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  background-color: #ffeac7;
}

</style>

    <div class="containerBox">
      <form
        name="formSignup"
        action="/mypage-post"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="img">
          <img src="<%= userImg %>" alt="유저 프로필 사진" class="userImg" />
          <label for="userImg" class="name">프로필 이미지</label>

          <button type="button" onclick="fileUpload()" id="imgBtn">
            <input
              type="file"
              name="userImg"
              value="<%= userImg %>"
              id="userImg"
            />
            <div class="imgUpload">업로드</div>
          </button>
        </div>

        <div class="id">
          <label for="userId" class="name">이메일</label>

          <div class="idBox">
            <input
              id="userId"
              type="email"
              name="userId"
              value="<%= userId %>"
              placeholder="email 주소"
              required
            />
            <button
              type="button"
              name="userId"
              id="userBtn"
              onclick="idCheck()"
            >
              중복확인
            </button>
          </div>
          <div class="idCheck"></div>
        </div>

        <div class="userName">
          <label for="userName" class="name">이름</label>
          <div class="userNameBox">
            <input
              id="userName"
              type="text"
              name="userName"
              value="<%= userName %>"
              required
            />
            <button
              type="button"
              name="userName"
              id="userBtn"
              onclick="nameCheck()"
            >
              중복확인
            </button>
          </div>
          <div class="nameCheck"></div>
        </div>

        <div class="birth">
          <label class="name" for="userBirth">생년월일</label>
          <input
            id="userBirth"
            type="date"
            name="userBirth"
            value="<%= userBirth %>"
            required
          />
        </div>

        <div class="btn">
          <button type="submit" class="btnSignup">
        <a
          onclick="window.open('/mypage-post', '_blank', 'width=400 height=670')"
          >내 정보 수정</a>
          </button>
        </div>

        <!-- disabled -->
      </form>
    </div>
    <script>
      function idCheck() {
  const idValue = document.querySelector("#userId").value;
  if (
    idValue === "" ||
    idValue.indexOf("@") === -1 ||
    idValue.indexOf(".") === -1
  ) {
    alert("이메일 형식으로 아이디를 입력해주세요.");
    document.querySelector("#userId").value = "";
    return;
  }

  axios({
    method: "GET",
    url: "/signup/idcheck",
    params: { idValue: idValue },
  }).then((res) => {
    console.log(res.data.result);
    if (res.data.result === false) {
      document.querySelector(".idCheck").textContent = "사용 가능합니다!";
      document.querySelector(".idCheck").style.color = "green";
    } else {
      document.querySelector(".idCheck").textContent =
        "사용 중인 아이디입니다.";
      document.querySelector(".idCheck").style.color = "red";
    }
  });
}

// 유저네임 중복 체크 axios
function nameCheck() {
  const nameValue = document.querySelector("#userName").value;
  console.log(nameValue);
  if (nameValue === "") {
    alert("이름을 입력해주세요.");
    document.querySelector(".nameCheck").textContent = "";
    return;
  }

  axios({
    method: "GET",
    url: "/signup/namecheck",
    params: { nameValue: nameValue },
  }).then((res) => {
    console.log(res.data.result);
    if (res.data.result === false) {
      document.querySelector(".nameCheck").textContent = "사용 가능합니다!";
      document.querySelector(".nameCheck").style.color = "green";
      document.querySelector(".btnSignup").removeAttribute("disabled");
    } else {
      document.querySelector(".nameCheck").textContent = "사용중인 이름입니다.";
      document.querySelector(".nameCheck").style.color = "red";
    }
  });
}

function fileUpload() {
  const formData = new FormData(); // 멀티미디어 데이터는 폼데이터에 넣어서 전달
  const file = document.getElementById("userImg");
  formData.append("userImg", file.files[0]);
  console.log(formData);

  axios({
    method: "POST",
    url: "/signup/imgUpload",
    data: formData,
    headers: {
      // 멀티미디어 파일 통신시 유의!
      "Content-Type": "multipart/form-data",
    },
  }).then(function (res) {
    console.log(res);
    document.querySelector("img").src = res.data.path;
  });
}

    </script>
    <!-- <script src="/static/js/mypage_post.js"></script> -->
  
