<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>반쪽</title>
    <link rel="stylesheet" href="/static/css/mypage.css" />
  </head>
  <body>
    <div class="userInfoBox">
      <img src="<%= userImg %>" alt="유저 프로필 사진" class="userImg" />
      <div class="nameBox">
        <span class="name">닉네임</span>
        <span class="userName"><%= userName %></span>
      </div>
      <div class="emailBox">
        <span class="email">이메일</span>
        <span class="userEmail"><%= userId %></span>
      </div>
      <button id="editBtn">
        <a
          onclick="window.open('/mypage-post', '_blank', 'width=400 height=670')"
          >내 정보 수정</a
        >
      </button>
      <form
        action="/user/delete"
        onsubmit="return confirm('탈퇴하시겠습니까?')"
        method="get"
      >
        <button type="submit" id="deleteBtn">회원 탈퇴</button>
      </form>
    </div>
    <div class="postList">
      <div class="postListName">작성한 글</div>
      <% for (let i = 0; i < userPost.length; i++) { %>
      <a
        href="/commu/posts/<%= userPost[i].dataValues.postId %>"
        class="postCard"
      >
        <img src="<%= userPost[i].dataValues.postImg %>" alt="게시글 이미지" />
        <div class="postDesc1">
          <div class="postTitle"><%= userPost[i].dataValues.postTitle%></div>

          <div class="postDesces2">
            <div class="postDesces2-1">
              <div class="postDescDate">
                <%= userPost[i].dataValues.postDate.toISOString().slice(0,
                19).replace("T", " ") %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
    </div>
  </body>
</html>
