<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My page</title>
</head>
<body>
    <ul>
        <li>ID : <%= userId %></li>
        <li>Nick Name : <%= userName %></li>
        <li>BirthDay: <%= userBirth %></li>
        <li>userImg: <img src="<%= userImg %>" width="200" alt=""></li>
        <li>userPosts: <br><% for (i=0; i< userPost.length; i++) { %>
                        작성시간: <%= userPost[i].dataValues.postDate %>
                        제목: <%= userPost[i].dataValues.postTitle%>
                        조회수: <%= userPost[i].dataValues.postViews%>
                        좋아요 수: <%= userPost[i].dataValues.postLikes%>
                        카테고리: <%= userPost[i].dataValues.postCategory%>
                        해시 태그: <%= userPost[i].dataValues.postTag%>
                        <br>
            <%}%>
        </li>
    </ul>
    <a href="/mypage-post">내 정보 수정</a>
    <a href="/user/delete">회원 탈퇴</a>
</body>
</html>